:root{
  color-scheme: light;
  --background: #FFFCF2;
  --foreground: #FDF0D5;
  --primary: #003049ff;
  --hover: #669bbcff;
  --text-color: #161515;
  --number-color: #386641;
  --border: #ccc5b9;
}
@media (prefers-color-scheme: dark) {
  :root {
      color-scheme: dark;
      --background: #252422ff;
      --foreground: #403d39;
      --primary: #669bbcff;
      --hover: #003049ff;
      --text-color: #FFFCF2;
      --number-color: #adc178;
      --border: #57534d;
      
  }
}

body{
  background-color: var(--background);
  margin: 0;
}

#recipes{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 1em;
  padding: 1em;
}
.recipe{
  background-color: var(--foreground);
  position: relative;
  overflow: hidden;
  padding: 1em;
  padding-left: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  border-radius: 0.5em;
}

.recipe::before{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1em;
  background-color: var(--primary);
}

.recipe__body{
  display: grid;
  grid-template-columns: auto 1px auto auto;
  align-items: center;
  gap: 0.5em;
  flex-basis: 98%;
  flex-grow: 1;
}

.parameter--wide{
flex-basis: 98%;
}

h1, h2, h3, p{
  margin: 0;
}

h1, h2, h3, .parameter{
  color: var(--text-color);
  font-family: 'Barlow Condensed';
}

.value {
  color: var(--text-color);
  font-family: Montserrat;
}
.value--number{
  color: var(--number-color);
  font-family: 'Courier New', monospace;
  font-weight: 600;
}
.value--description{
  padding-right: 1em;
}
.recipe__control{
  width: max-content;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  gap: 1em;
}

.control__button{
  background-color: var(--primary);
  border: transparent 0 solid;
  font-size: 1.2em;
  width: 1.2em;
  height: 1.2em;
  border-radius: 1em;
}

.control__button:hover{
  background-color: var(--hover);
}

.recipe__sum{
  display: flex;
  gap: 1em;
}

.recipe__name{
  font-size: 2em;
}

.value--color{
  font-weight: 600;
  color: var(--primary);
}

.value--small{
  font-size: 0.9em;
}

.recipe__header{
  display: grid;
  flex-grow: 1;
  grid-template-columns: auto auto;
}

.parameter--right{
  text-align: right;
}

.parameter__name{
  font-size: 1.2em;

}

.name--large{
  font-size: 1.5rem;
  font-weight: 600;
}

.parameter--tall{
  grid-row: span 2;
}

.parameter--first{
  order: -1;
}

.recipe__body::before{
  content: "";
  background-color: var(--text-color);
  height: calc(100% - 0.5em);
  width: 1px;
  grid-row: span 2;
}

.summrary{
  background-color: var(--foreground);
  display: grid;
  padding: 1em;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: var(--border) 2px solid;
  grid-template-columns: max-content 1px max-content 1fr;
  align-items:  center;
  column-gap: 4em;
}

.summrary::before{
  content: "";
  background-color: var(--text-color);
  height: calc(100% - 0.5em);
  width: 1px;
  grid-row: span 2;
}
.main{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.parameter--main{
  font-size: 1.5em;
  font-weight: 600;
}

.parameter--long{
  font-size: 1.2em;
  font-weight: 500;
}

.value--gold{
  color: gold;
}
.value--silver{
  color: silver;
  font-weight: 500;
  font-size: 1.2em;
}
.value--bronze{
  color: chocolate;
  font-weight: 500;
  font-size: 1.2em;
}

.cost{
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  column-gap: 1em;
}

.parameter--gold{
  grid-column: span 3;
  font-weight: 700;
  font-size: 2.5em;
}

.button--reset{
  background-color: var(--primary);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  grid-row: 1 / span 2;
  grid-column-end: -1;
  max-height: 64px;
  font-size: 1.5em;
  border-radius: 3em;
  border: transparent 0 solid;
  font-family: 'Barlow Condensed';
  font-weight: 600;
  justify-self: end;
}

.recipe--basic{
  --primary: #fbf2c4;
}

.recipe--advanced{
  --primary: #b8cdab;
}

.recipe--potions{
  --primary: #e5c185;
}

.recipe--explosives{
  --primary: #d68a58;
}

.recipe--magic-items{
  --primary: #74a892;
}

.recipe--anatomy{
  --primary: #c7522a;
}

.recipe--stars{
  --primary: #008585;
}

.recipe--crystals{
  --primary: #3a978c;
}